{% extends "header_footer.html" %}

{% block template %}

<form method="POST" action="/update/{{ Buildings.id }}">
   {% csrf_token %}

<table border="1">
<tr>
   <td>id</td>
   <td><input type="text" name="id" value="{{ Buildings.id }}" readonly></td>
</tr>

   <tr>
   <td>id</td>
   <td><input type="text" name="KI_number" id="KI_number" value="{{ Buildings.KI_number }}"></td>
</tr>

<tr>
   <td>nazwa osiedla</td>
   <td><input type="text" name="building_name" value="{{ Buildings.building_name }}"></td>
</tr>

<tr>
   <td>adres osiedla</td>
   <td><input type="text" name="building_adres" value="{{ Buildings.building_adres }}"></td>
</tr>
<tr>
   <td>węzeł GPON</td>
   <td><input type="text" name="id" value="{{ Buildings.GPON_node_localisation }}"></td>
</tr>

<tr>
   <td>ilość HP</td>
   <td><input type="text" name="building_name" value="{{ Buildings.quantity_HP }}"></td>
</tr>

<tr>
   <td>ilość LU</td>
   <td><input type="text" name="building_adres" value="{{ Buildings.quantity_LU}}"></td>
</tr>

    <tr>
   <td>konkurencja/td>
   <td><input type="text" name="id" value="{{ Buildings.competitors }}"></td>
</tr>

<tr>
   <td>deweloper</td>
   <td><input type="text" name="building_name" value="{{ Buildings.developer }}"></td>
</tr>
<tr>
   <td>rok budżetowy</td>
   <td><input type="text" name="id" value="{{ Buildings.year_Launch_services }}"></td>
</tr>

<tr>
   <td>status zasiedlenia</td>
   <td><input type="text" name="id" value="{{ Buildings.kind_of_inhabitation}}"></td>
</tr>

<tr>
   <td>akceptacja kosztorysy</td>
   <td><input type="text" name="building_name" value="{{ Buildings.estimated_budget_accept }}"></td>
</tr>

<tr>
   <td>cena lokalu</td>
   <td><input type="text" name="building_adres" value="{{ Buildings.flat_price}}"></td>
</tr>

<tr>
   <td>status rozmów handlowych</td>
   <td><input type="text" name="building_adres" value="{{ Buildings.status}}"></td>
</tr>

    <tr>
   <td>sposób świadczenia usług</td>
   <td><input type="text" name="id" value="{{ Buildings.services_provided }}"></td>
</tr>

<tr>
   <td>numer MPK</td>
   <td><input type="text" name="building_name" value="{{ Buildings.MPK_number }}"></td>
</tr>

<tr>
   <td>numer MPK przyłacza</td>
   <td><input type="text" name="building_adres" value="{{ Buildings.MPK_number_sewerage }}"></td>
</tr>
<tr>
   <td>zakres budowy sieci</td>
   <td><input type="text" name="id" value="{{ Buildings.range_of_activity }}"></td>
</tr>

<tr>
   <td>własność sieci wewnętrznych</td>
   <td><input type="text" name="building_name" value="{{ Buildings.internal_net_property }}"></td>
</tr>

<tr>
   <td>uwagi AK</td>
   <td><input type="text" name="building_adres" value="{{ Buildings.remarks_of_AK }}"></td>
</tr>

<tr>
    <td>uwagi MS</td>
    <td><input type="text" name="building_adres" value="{{ Buildings.remarks_of_MS }}"></td>
</tr>
</table>

   {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.name }} {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<input type="submit" value="zapisz"/>

   {% if messages %}
   {% for update in messages %}
   {{ update }}
   {% endfor %}
   {% endif %}

</form>

{% endblock %}
