body {
    font-size: 20px;
}

.header {
    width: 100%;
    background-color: blue;
}

.header .btn {
    display: inline;
    margin: 0.25rem;
}

* {
  box-sizing:border-box;
}

.list {
    display: flex;
    flex-wrap:wrap;
    padding: 10rem;
}

.list div {
    width:100%;
    max-width: 50%;
    flex: 1 0 50%;
    padding: 1em;
    border:1px solid black;
}

.footer {
    font-size: 10px;
}


